nav {
  background-color: rgba(144, 211, 253, 0.975);
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

nav a {
  padding: 0.5em 0;
  width: 5em;
  display: inline-block;
  color: seashell;
  text-decoration: none;
}

nav a.active {
  color: rgb(82, 82, 82);
  text-decoration: none;
}

nav a:hover {
  color: rgb(82, 82, 82);
  text-decoration: none;
}

.Nav-Home{
  display:flex;
  margin-left: 30px;
  font-size: large;
  flex-grow: 1;
}
.Nav-Signup, .Nav-Login, .Nav-Profile, .Nav-Companies, .Nav-Jobs, .Nav-Logout{
  display:flex;
  font-size: large;
  margin-right: 30px;
  text-align: center;
}

.NavContainer{ 
  display:flex;
}