nav {
  background-color: rgba(144, 211, 253, 0.975);
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

nav a {
  padding: 0.5em 0;
  width: 12em;
  display: inline-block;
  color: seashell;
  text-decoration: none;
}

nav a.active {
  color: rgb(82, 82, 82);
  text-decoration: none;
}

nav a:hover {
  color: rgb(82, 82, 82);
  text-decoration: none;
}

.Nav-Home{
  display:inline-block;
  margin-right:auto;
}